@CHARSET "UTF-8";

body{
	font-family:Century Gothic, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	background-color:black;
}

.lay-admin{
	background-color: black;
/* 	background-image: url("#{resource['images:bckgnd-admin.png']}"); */
/* 	background-repeat: repeat; */
/* 	background-size: 2%; */
}

.body-admin{
	height:500px;
	margin-top:20px;
}

.operations-admin{
	margin:auto;
	width:42px;
}